/* Yıldızlar için stil */
.stars {
  display: inline-block;
  font-size: 16px;
  color: #f1c40f; /* Yıldızların rengi */
}

.benim-etkinliklerim-container {
  padding: 20px;
  background-color: #f6f5f7;
  min-height: 100vh;
}

.benim-etkinliklerim-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.course-count h3 {
  font-size: 18px;
  color: #333;
}

.controls {
  display: flex;
  align-items: center;
  gap: 15px;
}

.sort-by select {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.create-course-btn {
  padding: 10px 20px;
  background-color: #1abc9c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.create-course-btn:hover {
  background-color: #16a085;
}

.courses-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.course-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.course-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.course-details {
  text-align: center;
  margin-top: 10px;
}

.course-details h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

.learn-more-btn {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.learn-more-btn:hover {
  background-color: #2980b9;
}

/* Sağdan kayan detay paneli */
.detail-panel {
  position: fixed;
  top: 0;
  right: -100%; /* Başlangıçta görünmez */
  width: 30%;
  height: 100%;
  background-color: white;
  box-shadow: -4px 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  z-index: 200;
}

.detail-panel.visible {
  right: 0; /* Görünür hale gelir */
}

.detail-content {
  padding: 20px;
}

.detail-content h2 {
  margin-bottom: 10px;
}

.close-btn {
  background-color: black;
  border: none;
  font-size: 10px;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
}
