.listing {
    width: 60%;
    margin-right: 20px;
  }
  
  .listing h2 {
    margin-bottom: 10px;
  }
  
  .list-item {
    background: #ecf0f1;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  