.searchbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 10px 20px;
    background: #ecf0f1;
    border-radius: 10px;
  }
  
  .searchbar input {
    flex: 1; /* Esnek genişlik */
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .searchbar button {
    padding: 10px 20px;
    background: #1abc9c;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  